# {{ ansible_managed }}
{{ logrotate_log_dir }}/*.log {
    {{ logrotate_frequency }}
    rotate {{ logrotate_rotate }}
    missingok
    notifempty
    compress
    delaycompress
    dateext
    create {{ logrotate_create }}
    sharedscripts
    prerotate
        if [ -d /etc/logrotate.d/httpd-prerotate ]; then
            run-parts /etc/logrotate.d/httpd-prerotate
        fi
    endscript
    postrotate
{{ logrotate_postrotate | trim | indent(8, true) }}
    endscript
}
